/* CSS HEX 
--saffron: #eac435;
--blue-sapphire: #04658b;
--dark-sienna: #3f0d12;
--aquamarine: #61f2c2;
--ultra-red: #ed6b86;

*/

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
